/* Global Styles */
body {
    font-family: futura-pt, Avenir, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

/* Navigation Styles */
nav {
    border-bottom: 1px solid rgba(153, 153, 153, 0.253);
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 12vh;
    margin: 0 25px;
}

.nav__links,
.nav__links-secondary {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__links li,
.nav__links-secondary li {
    margin: 5px;
}

.nav__links a,
.nav__links-secondary a {
    font-size: 15px;
}

.nav__links span {
    color: #ff764d;
}

.nav__links-secondary span {
    color: #0000ff;
}

.nav__lower {
    height: 10vh;
}

.nav__lower ul {
    display: flex;
    padding: 10px 25px;
    font-size: 14px;
    
}
.nav__lower ul li{
    margin: 14px;
}
.nav__dropdown-container{
    display:flex;
    max-width:55px;
    max-height:24.5px;
    overflow:hidden;
}
.dropdown1, .dropdown2{
    cursor:pointer;
    overflow:hidden;
}
.dropdown2{
    transform:rotate(90deg);
}
.dropdown1 div{
    width:25px;
    height:3px;
    background-color:black;
    margin: 3px;
    transition: all 0.3s ease-in;
    overflow: hidden;
}
.dropdown2 div{
    width: 23px;
    height: 3px;
    background-color:black;
    margin: 3px;
    transition: all 0.3s ease;
    overflow:hidden;
}
/* Header Styles */
.header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.header img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: center;
}

.header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    font-weight: 100;
    color: #ff764d;
}

/* Text Information Styles */
.text__info {
    max-width: 700px;
    margin: 0 auto;
    padding: 50px 20px;
}

.text__info h3 {
    padding-bottom: 25px;
    line-height: 1.8rem;
    font-size: 1.25rem;
}

.text__info p {
    line-height: 1.8rem;
    font-size: 15px;
    font-weight: lighter;
}

.text__info span {
    color: #0000ff;
}

/* yellow image Section */
.yellow__container{
    position:relative;
    width:100%;
    height: 400px;
    display:flex;
    justify-content:flex-end;
    align-items:center;

}
.collage1{
    width:100%;
    z-index:2;
    position:absolute;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
}
.yellow__box{
    background-color:#fbffa7;
    width:58.33333vw;
    height:58.33333vw;
    z-index:1;
    position:absolute;
    
}
.photo1 img{
    width: 41.66667vw;
    height: 41.66667vw;
    margin-left:8.33333vw;
}
.photo2 img{
    width:33.3333vw;
    height: 25vw;
    margin-left: 8.33333vw;
}







/* Video Modal */
.modal-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    padding: 0;
    width: 100%;
    height: 50vh;
    max-width: 700px;
}

.modal-content iframe {
    max-height: 700px;
}

.video__info {
    max-width: 650px;
    margin: 0 auto;
}

.video__info p {
    font-size: 10px;
}

/* green photo collage  */

.green__container{
    width:100%;
    height:75vw;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    z-index:0;
}
.left__stack img{
    width: 33.333vw;
    height: 25vw;
}
.left__stack{
    width: 41.66667vw;
    height: 41.66667vw;
    z-index:2;
    position:absolute;
}
.right__image{
    position:absolute;
    padding-right: 8.33vw;
    width:100%;
    display:flex;
    justify-content:flex-end;
}
.right__image img{
    width: 41.66667vw;
    height: 41.66667vw;
    z-index:2;
}
.green__box {
    height: 75vw;
    width: 58vw;
    background-color: #b6ffc0;
    position: absolute;
    right: 40%;
    z-index: 1;
}

.photo6 img {
    padding: 5px 20px;
    object-position: center;
    height: auto;
    max-width: 100%;
    border:0;
}

/* Purple Section */
.purple__container{
    width:100;
    display:flex;
    position:relative;
}
.collage__2{
    width:100%;
    height: auto;
    position:absolute;
    z-index:2;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}
.purple__box{
    height:58.33333vw;
    width:66.66667vw;
    left: 16.66667vw;
    position:absolute;
    z-index:0;
    background-color:#d5b3ff;
}
.photo7 img{
    height: 25vw;
    width: 33.33333vw;
    margin-left: 8.33333vw;
    position: absolute;
    z-index:1;
}
.photo8 img{
    height: 41.66667vw;
    width: 41.66667vw;
    margin-left:16.66667vw;
   /* position:absolute;
    z-index:1;*/
}
/* Blue Section */
.blue__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    background-image: url("images/pexels-pixabay-289737.jpg"); /* Set the image as background */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    color: #fff; /* Make text white or suitable for visibility on the background */
    padding:0;
    flex-direction:column;
    justify-content:center;
    background-color: #b1c5ff;
    max-width: 600px;
}
.blue__container img{
    max-height: 400px;
    
}
.text__info-blue {
    display:block;
    padding: 40px;
   
 
    
}

.text__info-blue h2 {
    font-size: 24px;
    font-weight:normal;
    color:#333;
    margin-bottom:20px;
    line-height: 1.4;
}

.text__info-blue a {
    font-size: 16px;
    font-weight:bold;
    color: #3333ff;
    text-decoration:underline;
    margin-top: 10px;
    align-self:flex-start;
    transition: color 0.3s;
}
.text__info-blue a:hover{
    color: #1a1aff;
}
.text__info-blue p{
    font-size: 16px;
    line-height: 1.8;
    color:#333;
}


/* Footer Styles */
footer {
    border-top: 1px solid rgba(153, 153, 153, 0.253);
}

footer h1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px 0 20px;
    font-size: 50px;
}

.grid__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

.grid__container li a:hover {
    color: rgba(119, 119, 119, 0.815);
}

.grid__container h3 {
    margin-bottom: 3%;
}

.grid__container ul li a,
.enter-email {
    color: rgba(34, 34, 34, 0.815);
    font-size: 15px;
    font-weight: lighter;
}

.grid__container a,
.enter-email {
    line-height: 1.8rem;
}

/* Socials Styles */
.socials__container {
    display: flex;
    padding-top: 15px;
}

.socials__container i {
    color: white;
    font-size: 20px;
}

.facebook,
.twitter,
.youtube,
.instagram,
.tiktok {
    text-align: center;
    padding: 6px 7px;
    cursor: pointer;
    border-radius: 100%;
}

.facebook {
    background-color: rgb(52, 119, 242);
    margin-right: 5px;
}

.facebook:hover {
    background-color: rgba(52, 119, 242, 0.808);
}

.twitter {
    background-color: rgb(29, 161, 242);
    margin-right: 5px;
}

.twitter:hover {
    background-color: rgba(29, 161, 242, 0.747);
}

.youtube {
    background-color: rgb(255, 0, 29);
    margin-right: 5px;
}

.youtube:hover {
    background-color: rgba(255, 0, 29, 0.801);
}

.instagram {
    background-color: rgb(247, 119, 55);
    margin-right: 5px;
}

.instagram:hover {
    background-color: rgba(247, 119, 55, 0.767);
}

.tiktok {
    background-color: black;
    margin-right: 5px;
}

/* Input Styles */
input {
    border: none;
    background-color: rgba(153, 153, 153, 0.336);
    padding: 10px;
}

input:focus {
    outline: none;
}
button{
    border:none;
    background-color: #0000ff;
    padding: 10px 10px;
    color:white;
    cursor:pointer;
}
.email__signup{
    display:flex;
}
button:hover{
    background-color: #0000ffe0;
}